@model MVC.ViewModels.ToutesMesListes
@{
    ViewBag.Title = "Les Hôtels recommandés par Valais Booking";
}
<br /><br />
<h1><strong>Les Hôtels recommandés par Valais Booking</strong></h1><br />

<table class="table">
    <tr><th></th><th></th><th></th><th></th></tr>

    @for (int i = 0; i < Model.LesHotels.Count(); i++)
    {
        <tr>
            <td>
                <h3> <strong>@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Name)</strong></h3>
                <h4>
                    À @Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Location)
                    <br /><br />
                    <a href="@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Website)">@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Website)</a>
                    <br />
                    <a href="@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Email)">@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Email)</a>
                    <br />
                    @Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Phone)
                </h4>
            </td>
            <td class="h4" style="vertical-align:middle">
                <br /><br />
                Wifi : @Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).HasWifi)<br />
                Parking : @Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).HasParking)<br />
                Catégorie : @Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Category)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => Model.LesHotels.ElementAt(i).Photo)" with="200" height="200" />
            </td>
            <th style="vertical-align:middle;width:150px;">
                @using (Html.BeginForm("Chambre", "Home", FormMethod.Post))
                {
                    @Html.Hidden("nomHotel", Model.LesHotels.ElementAt(i).Name)
                    <button type="submit" class="form-control">Chambres</button>}
            </th>
        </tr>}
</table>


<div>
    @Html.ActionLink("Accueil", "Index")
</div>

<br />






































<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



