@model MVC.ViewModels.SearchVM

@{
    Layout = null;
}

@using (Html.BeginForm("ReservationSimple", "Reservation", FormMethod.Post))
{
    <br /><br />
    <center><br /><h1 style="color:crimson"><strong>♥ Chambres disponibles ♥</strong></h1><br /></center><br /><br />


    <br />
    <table class="table">
        <tr class="h3">
            <th style="text-align:center; width:5%">
                Code
            </th>
            <th style="text-align:center; width:10%">
                Chambre n°
            </th>
            <th style="text-align:right; width:10%">
                Options
            </th>
            <th style="text-align:center; width:35%">
                Photos
            </th>
            <th style="text-align:left; width:30%">
                Description
            </th>
            <th style="text-align:center; width:10%">
                Prix
            </th>
        </tr>

        @for (int i = 0; i < Model.Chambres.Count(); i++)
        {

            <tr>
                <td style="vertical-align:middle">
                    <br /><center>
                        @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).Id)<br />
                    </center><br /><br />
                </td>
                <td style="vertical-align:middle">
                    <br /><center>
                        @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).Number)<br />
                    </center><br /><br />
                </td>
                <td style="vertical-align:middle;text-align:right">
                    <br />
                        Simple ou double : @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).Type)<br />
                        Sèche-cheveux : @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).HasHairDryer)<br />
                        TV : @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).HasTV)<br />
                        
                   <br /><br />
                </td>
                <td style="vertical-align:middle">
                    <center>
                        <br />
                        @foreach (var item in Model.Picture)
                        {
                            if (item.IdRoom.Id == Model.Chambres[i].Id)
                            {
                                <img src="@Html.DisplayFor(modelItem => item.Url)" width="200" height="200" />
                            }

                        }
                    </center><br /><br />
                </td>
                <td style="vertical-align:middle;text-align:justify">
                    <a href="#ancre" style="color:red; text-decoration:underline">Réserver</a><br /><br />
                    @Html.ActionLink("Description de l'hôtel", "Hotel", "Home")<br /><br />
                    @foreach (var item in Model.LesHotels)
                    {
                        if (item.Id == Model.Chambres.ElementAt(i).IdHotel.Id)
                        {
                            <a style="color:blue;text-decoration:underline" href="@Html.DisplayFor(modelItem => item.Website)">@Html.DisplayFor(modelItem => item.Website)</a>

                        }

                    }
                    <br /><br />
                    @Html.Raw(Model.Chambres.ElementAt(i).Description)
                    <br />
                </td>


                <td style="width: 200px;vertical-align:middle">
                    <center>
                        @Html.DisplayFor(modelItem => Model.Chambres.ElementAt(i).Price) CHF
                        <br />
                    </center>
                </td>
            </tr>


        }

    </table>
    <center>
        <div style="width:200px" class="h4" id="ancre">

            @Html.Label("nom")
            @Html.TextBox("nom", null, new { @class = "form-control", @required = "required" })<br />
            @Html.Label("prenom")
            @Html.TextBox("prenom", null, new { @class = "form-control", @required = "required" })<br />
            @Html.Hidden("entre", Model.Debut)
            @Html.Hidden("sort", Model.Fin)
            @Html.Label("code")
            @Html.TextBox("numero", null, new { @class = "form-control", @type = "number", @required = "required" })
            @Html.Hidden("categorie", Model.Categorie)
            @Html.Hidden("wifi", Model.Wifi)
            @Html.Hidden("parking", Model.Parking)
            @Html.Hidden("type", Model.Type)
            @Html.Hidden("prix", Model.Prix)
            @Html.Hidden("tv", Model.TV)
            @Html.Hidden("hairdryer", Model.HairDryer)
            @Html.Hidden("nomlieu", Model.Lieu)
            @for (int i = 0; i < Model.Chambres.Count(); i++)
            {
                @Html.Hidden("prices[]", Model.Chambres.ElementAt(i).Price)
            }
            @for (int i = 0; i < Model.Chambres.Count(); i++)
            {
                @Html.Hidden("nums[]", Model.Chambres.ElementAt(i).Id)
            }
            <br /><br />

            <button type="submit" class="btn-warning">Réserver</button><br /><br />
        </div>
    </center>
}


<center>
    <p>
        @Html.ActionLink("Revenir à la recherche", "Edit", "Home")
    </p>
    <p>
        @Html.ActionLink("Accueil", "Index", "Home")
    </p>
</center>
<br />







































<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>